[submodule "tinyusb"]
	path = lib/tinyusb
	url = git@github.com:jduquesa/tinyusb.git
[submodule "lib/cyw43-driver"]
	path = lib/cyw43-driver
	url = git@github.com:jduquesa/cyw43-driver.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = git@github.com:jduquesa/lwip.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = git@github.com:jduquesa/mbedtls.git
[submodule "lib/btstack"]
	path = lib/btstack
	url = git@github.com:jduquesa/btstack.git
