[submodule "tinyusb"]
	path = lib/tinyusb
	url = git@jorgeduque80:jeduquesa/tinyusb.git
[submodule "lib/cyw43-driver"]
	path = lib/cyw43-driver
	url = git@jorgeduque80:jeduquesa/cyw43-driver.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = git@jorgeduque80:jeduquesa/lwip.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = git@jorgeduque80:jeduquesa/mbedtls.git
[submodule "lib/btstack"]
	path = lib/btstack
	url = git@jorgeduque80:jeduquesa/btstack.git
